nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: hsl(0, 28%, 27%);
}
nav .left{
  font-size: 2rem;
  color: var(--text-color)
  fontw 800;
  cursor: pointer;
  transform: 0.3s ease-in-out;
}
nav .left:hover{
  transform:scale(1.1);
}
nav ul{
  display: flex;
  justify-self: center;
}

nav ul li{
  list-style: none;
  margin: 0 25px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  color: beige;
  font-size: 1.01rem;
}
main hr{
  border: 0;
  background:hsl(39, 92%, 43%);
  height: 1.2px;
  margin: 40px 84px;
}
.left{
  font-size: 2em;
}
.firstSection{
  display: flex;
  justify-content:space-around ;
  align-items: center;
  margin: 20px ;
}
.firstSection > div{
  width: 30%;
}
.leftSection{
  font-size: 2em;
}
.leftSection .btn{
  padding: 12px;
  border-radius:6px ;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid white;
  color: wheat;
  background-color: hsla(51, 91%, 51%, 0.6);
  text-decoration: none;
}
.leftSection .buttons{
  padding: 50px 0;
}
.leftSection .btn a{
  text-decoration: none;
}


.purple{
  color: hsl(52, 95%, 49%);
}
.text-grey{
  color: rgb(173, 132, 211);
}
.purple:hover{
  color:hsl(33, 69%, 60%);
  font-size: 35px;
}
#element{
  color: blanchedalmond;
}

.SecondSection{
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.SecondSection h1{
  font-size: 2rem;
}
.SecondSection .box{
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.SecondSection .vertical{
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
}
.image-top{
  width: 34px;
  position:relative;
  top: -28px;
  left: -5px; 
}
.vertical-title{
  position:relative;
  top:65px;
  width: 150px;
  font-size: 14px;

}
.vertical-des{
  position: relative;
  top:5px;
  color: azure;
  width: 150px;
  font-size: 10px;

}
.footer{
  position: relative;
  background-color: hsl(60, 35%, 38%);
  height: 200px;
  bottom: 0;
  width: 100;
  padding: 40px 0;


}
.footer{
  display: flex;
  padding: 30px 15px;
  justify-content: space-evenly;
}
.footer ul{
margin-top: 0;
padding: 0;
font-size: 19px;
line-height: 1.6;
margin-bottom: 0;
text-align: center;
list-style: none;
}
.footer-second ul li{
  display: flex;
  cursor: pointer;
  color: white;
  border-bottom: 3px solid transparent;

}
.footer-second ul li a:hover{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  display: inline-block;
  padding: 0 15px;  
  text-decoration: none;
  color: inherit;
}
.footer-third{
  float: right;
  padding-bottom: 25px;
  color: white;
  cursor: pointer;
}
.footer-third a{
 padding: 0;
 margin: 0;
 color: var(--main-color);
 bottom: 2px solid var(--main-color);
 width: 42px;
 font-size: 25px;
 height: 42px;
 line-height: 42px;
margin: 0 5px;
transform: 0.3s ease-in-out;


}
.footer-third:hover{
  color:var(--text-color);
  transform: scale(1)translate(-8px);
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.footer-first{
  text-align: center;
}
footer .footer-rights{
  text-align: center;
  color: hsl(55, 94%, 48%);
  padding: 12px;
}
.contact{
  background-color: var(--second-bg-color);
}
.contact .heading{
  margin-bottom: 5rem;
  color: white;
  text-align: center;
  font-size: 3rem;
}
.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
  border-color: wheat;

}
.contact form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 2px solid var(--main-color);
  margin: 1rem 0;
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
  padding: 15px ;
  font-size: 1em;
  background-color: var(--main-color);
  color: hsl(14, 29%, 53%);


}